// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation{
  ul{
    li{
      list-style-type: none;
      font-style: italic;
      color:#AB433F;
      text-align: center;
    }
  }
}
.field_with_errors{
  @extend .has-danger;
  .form-control{
    color: $state-danger-text;
  }
}
.gravatar{
  border-radius: 50%;
  margin: 0 1rem;
}
